WebContent/wsdl/Calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mypkg.test.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://mypkg.test.com" xmlns:intf="http://mypkg.test.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://mypkg.test.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:int"/>
      <element name="num2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiply">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:int"/>
      <element name="num2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplyResponse">
    <complexType>
     <sequence>
      <element name="multiplyReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="substarction">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:int"/>
      <element name="num2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="substarctionResponse">
    <complexType>
     <sequence>
      <element name="substarctionReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="division">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:int"/>
      <element name="num2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="divisionResponse">
    <complexType>
     <sequence>
      <element name="divisionReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="substarctionRequest">

      <wsdl:part element="impl:substarction" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisionResponse">

      <wsdl:part element="impl:divisionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplyResponse">

      <wsdl:part element="impl:multiplyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="substarctionResponse">

      <wsdl:part element="impl:substarctionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplyRequest">

      <wsdl:part element="impl:multiply" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divisionRequest">

      <wsdl:part element="impl:division" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculator">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiply">

         <wsdl:input message="impl:multiplyRequest" name="multiplyRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplyResponse" name="multiplyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="substarction">

         <wsdl:input message="impl:substarctionRequest" name="substarctionRequest">

       </wsdl:input>

         <wsdl:output message="impl:substarctionResponse" name="substarctionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="division">

         <wsdl:input message="impl:divisionRequest" name="divisionRequest">

       </wsdl:input>

         <wsdl:output message="impl:divisionResponse" name="divisionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculatorSoapBinding" type="impl:Calculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiply">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="substarction">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="substarctionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="substarctionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="division">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divisionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divisionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculatorService">

      <wsdl:port binding="impl:CalculatorSoapBinding" name="Calculator">

         <wsdlsoap:address location="http://localhost:8080/MyTestWs/services/Calculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
